<h1>All Shelters</h1>

<%= link_to "Admin", admin_root_path %>

<ul>
<% @shelters.each do |shelter| %>
  <li>
    <strong>name: </strong><span><%= shelter.name %></span>
    <strong>beds available: </strong><span><%= shelter.beds_available %></span>
    <% if shelter.checkin_time %>
      <strong>daily checkin time: </strong><span><%= shelter.checkin_time.strftime("%I:%M %p") %></span>
    <% end %>
    <% if shelter.availability_reports.any? %>
      <% Rails.logger.info("************** TRYING TO OUTPUT AVAILABILITY REPORT **************") %>
      <h1>got reports</h1>
    <% else %>
      <strong>No Availability Reports on File</strong>
    <% end %>
  </li>
<% end %>
</ul>
