<h1>All Shelters</h1>

<ul>
<% @shelters.each do |shelter| %>
  <li>
    <strong>name: </strong><span><%= shelter.name %></span>
    <strong>beds available: </strong><span><%= shelter.beds_available %></span>
    <strong>last updated: </strong><span><%= shelter.availability_reports.last.created_at.strftime("%A, %b %e, %l:%M %p") %></span>
  </li>
<% end %>
</ul>
