<div class="header">
  <nav>
    <ul class="nav nav-pills pull-right">
      <li class="shelters-index" role="presentation"><%=link_to 'All Shelters', root_path %></li>
      <li class="shelters-index" role="presentation"><%= link_to "Admin", admin_root_path %></li>
    </ul
  </nav>
  <div class="logo-title">
    <h3><%= link_to 'REST ASSURED', root_path, id: 'logo-title' %></h3>
  </div>
</div>
